.logo{;
    padding-left: 15%;
     
    
}
.logo img{padding-left: 35%;
}

.nav{font-family:inherit;
    font-size: 25px;
color: black;
      padding-left: 1%;
   
}
.nav1{font-family:inherit;
    font-size:25px;
color: black;
padding-left:10%;}
.box{ background-image:url(registrationmain.jpg);
   width=100%;
    height:900px;
}
.box1{
    height: 670px;
    width:500px;
    background-color: black;
    margin:70px auto;
    opacity:.85;
   padding: 20px;
}
.login{margin: auto 70px;}
input{
    height:30px;
width:300px;
